/*****************TAG SELECTOR*************/

body {
  margin: auto;
  text-align: center;
  font-family: 'Charis SIL', serif;
  color: #30514E;
}

h1 {
  font-family: 'Dancing Script', cursive;
  color: #66BFBF;
  font-size: 5rem;
  line-height: 2;
  margin: auto auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Charis SIL', serif;
  font-weight: bolder;
  padding-bottom: 20px;
}

h3 {
  color: #11999E;
  font-family: 'Charis SIL', serif;
}

hr {
  width: 5%;
  border-style: dashed;
  opacity: 0.3;
  margin: 70px auto;
}

p {
  line-height: 2;
}

a {
  color: #30514E;
  font-family: 'Charis SIL', serif;
}

a:hover {
  color: #EAF6F6;
}

/***************CLASS SELECTOR*************/

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.first-cloud {
  position: absolute;
  right: 250px;
  top: 70px;
}

.pro {
  text-decoration: underline;
}

.second-cloud {
  position: absolute;
  left: 250px;
}

.mountain {
  position: relative;
  bottom: 0;
}

.middle-container {
  margin: 50px auto 50px auto;
}

.description{
  width: 50%;
  margin: auto auto 50px;
}

.skill-row-1 {
  width: 50%;
  text-align: left;
  margin: auto;
  padding-bottom: 20px;
}

.skill-row-2 {
  width: 50%;
  text-align: left;
  margin: 50px auto;
  padding-bottom: 10px;
}

.me {
  width: 20%;
  border-radius: 100%;
}

.comp {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin: auto 30px auto auto;
}

.v1 {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin: auto auto auto 30px;
}

.last-p {
  width: 50%;
  margin: auto auto 30px auto;
}

.btn {
  background-color: #66BFBF;
  color: white;
  border-style: outset;
  border-radius: 5px;
  padding: 3px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.copyright:hover {
  color: blue;
}
